@using TPCv3.Domain.Entities
@using TPCv3.Helpers

@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper,
             IList<Tag> tags){
<span>
    @foreach (Tag tag in tags)
    {
        @htmlHelper.TagLink(tag)
    }   
</span>
}

