/*CSS Styling for the navigation menu */
#menu
{
    -moz-border-radius: 50px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    border-radius: 10px;
    box-shadow: 0 2px 1px #9c9c9c;
    list-style: none;
    margin: 0;
    margin-top: 150px;
    padding: 10px 0 0 0;
    width: 100%;
}

#menu li
{
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

<<<<<<< HEAD
    #menu a {
        color: #999;
        float: left;
        font-family: 'Goudy Bookletter 1911', serif;
        font-size: 12pt;
        height: 25px;
        padding: 0 25px;
        text-decoration: none;
        -webkit-text-shadow: 0 1px 0 #000;
        text-shadow: 0 1px 0 #000;
    }
=======
#menu a
{
    color: #999;
    float: left;
    font-family: 'Goudy Bookletter 1911', serif;
    height: 25px;
    padding: 0 25px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233

#menu li:hover > a
{
    color: #fafafa;
}

* html #menu li a:hover
{
    /* IE6 */
    color: #fafafa;
}

#menu li:hover > ul
{
    display: block;
}

/* Sub-menu */

#menu ul
{
    -moz-border-radius: 5px;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    border-radius: 5px;
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    z-index: 99999;
}

#menu ul li
{
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    display: block;
    float: none;
    height: auto;
    line-height: 1;
    padding: 10px;
    text-transform: none;
    white-space: nowrap;
}

* html #menu ul a
{
    /* IE6 */
    height: 10px;
    width: 150px;
}

*:first-child + html #menu ul a
{
    /* IE7 */
    height: 10px;
    width: 150px;
}

#menu ul a:hover
{
    background: #0186ba;
    background: -moz-linear-gradient(#04acec, #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec, #0186ba);
    background: -o-linear-gradient(#04acec, #0186ba);
    background: -ms-linear-gradient(#04acec, #0186ba);
    background: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
    border-bottom: 8px solid #444;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    left: 30px;
    position: absolute;
    top: -8px;
    width: 0;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */

#menu:after
{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

* html #menu
{
    zoom: 1;
}
/* IE6 */

*:first-child + html #menu
{
    zoom: 1;
}
/* IE7 */

header, footer, nav, section
{
    display: block;
}

html, body
{
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
<<<<<<< HEAD
    font-size: 16pt;
    width: 100%;
=======
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233
}

#header
{
    border-bottom: #04acec solid 1px;
    height: 375px;
    width: 100%;
}

#headerWrapper
{
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
    width: 1280px;
}

#headerLeft
{
    float: left;
    min-width: 384px;
    width: 480px;
}

#headerLeft img
{
    margin-top: 125px;
}

#headerRight
{
    float: left;
    min-width: 640px;
    width: 800px;
}

#searchDiv
{
    float: right;
    margin: 20px 0;
}
div.feeddiv {
  float: right;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
div.feeddiv a, div.feeddiv a:visited{
    color: white;
}
div.feeddiv a:hover{
    color: #04acec;
}
#search-form
{
    float: right;
}

#txtSearch
{
    width: 120px;
    border-radius: 5px;
    border: 3px #000 solid;
}
#txtSearch:hover
{
    border: 3px #04acec solid;
}

#search-form p
{
    display: inline;
}

#sidebars
{
    float: right;
    width: 318px;
    min-width: 256px;
    text-align: left;
}

#body
{
    background-color: #111;
    color: #FFFFFF;
    width: 100%;
    min-width: 1280px;
    float: left;
    min-height: 600px;
<<<<<<< HEAD
    margin-bottom: -150px; 
=======
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233
}

#wrapper
{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
    width: 1280px;

}

#wrapperContent
{
    float: left;
    width: 960px;
    min-width: 768px;
}

#content
{
    padding-top: 20px;
    width: 100%;
}
.push, .footer
{
    height: 150px;
    clear: both;
}
#footer
{
<<<<<<< HEAD
    border-top: #04acec solid 1px;
=======
    border-top: #111 solid 1px;
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233
    color: white;
    background-color: black;
    float: left;
    margin-top: 100px;
    text-align: center;
    min-width: 100%;
}

#footer dl, #footer div dd, #footer dl dt
{
    float: left;
    padding: 0;
    width: 165px;
}

#footer div dd a, #footer dl dt a
{
    color: white;
}

#footer div dd a:hover, #footer dl dt a:hover
{
    color: #04acec;
}

#footer dl
{
    margin: 0;
}

#footer dl dt
{
    font-weight: bold;
    margin: 20px 0 0 0;
}

#footer dl dd
{
    font-style: italic;
    margin: 0;
}

#footerWrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
#something
{
    margin-top: 30px;
    border-top: #cdcdcd solid 1px;
    float: left;
    width: 100%;
    min-width: 500px;
}

li.noStyle
{
    list-style: none;
}

.centerBlueHeading
{
    color: #04acec;
    text-align: center;
}

a
{
    text-decoration: none;
}

a img
{
    border: none;
}

/* Styles for basic forms -----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    background-color: #ffeeee;
    border: 2px solid #ff0000 !important;
}

.validation-summary-errors
{
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid
{
    display: none;
}

h1, h2, h3
{
    font-family: 'Goudy Bookletter 1911', serif;
    color: #9c9c9c;
<<<<<<< HEAD
    font-size: 20pt;
=======
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233
}

h2
{
<<<<<<< HEAD
    /*font-family:"Century Gothic", Times, serif;*/
=======
   /*font-family:"Century Gothic", Times, serif;*/
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233
    font-size: 48px;
    border-bottom: double #CDCDCD 3px;
    margin-bottom: 0;
}

a h3, a h4
{
    color: black;
}

a h3:hover, a h4:hover
{
    color: #04acec;
}
<<<<<<< HEAD

div.pager
{
    margin: 10px 0;
    float: left;
    clear: both;
}

div.pager a
{
    color: white;
    margin: 10px 3px ;
    border: 1px solid #04acec;
    padding: 5px;
    background-color: black ;
}

div.pager a:visited
{
    color: white;
    background-color: black ;
}

div.pager a.selected_paginator
{
    color: white ;
    background-color: #04acec;
}

div.pager a:hover, .readMore:hover
{
    color: #04acec!important;
    background-color: white !important;
    font-weight: bolder;
    border: #04acec 1px solid;
}
.readMore
{
    background-color: black;
    color: #04acec; 
    font-weight: bolder;
    padding: 5px;
    border-top: 1px #04acec solid;
}
.readMore:hover
{
    background-color:  white;
    border-top: 1px #04acec solid;
    color: #04acec  !important;
    font-weight: bolder;
}

.categoryLink, .tagLink, .categoryLink:visited, .taglink:visited, .postTitle, .postTitle:visited, .readMore, .readMore:visited
{
    margin: 0 5px 0 0;
    color: white;
    
}
.tagLink, .tagLink:visited, .categoryLink, .categoryLink:visited
{
    padding: 2px;
    border: 1px solid #04acec;
    border-radius: 5px;
}

 #postListTitle tr td .categoryLink, #postListTitle tr td .tagLink
{
    color: white
}

.latestPostList .postTitle, .latestPostList .postTitle:visited
{
    margin: 0 5px 0 0;
    color: white;
}

.tagList
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tagListItem a
{
    background-color: black;
    border: 1px solid #04acec;
    margin: 5px;
    padding: 5px;
    text-align: center;
    float: left;
    border-radius: 5px;
=======
div.pager {
    margin: 10px 0;
}
div.pager a 
{
    color: white;
    margin: 10px 3px;
    padding: 5px;
}
div.pager a:visited {
    color: white;
}
div.pager a:hover {
    color: white !important;
    background-color: #04acec !important;
}
div.pager a.selected_paginator {
    color: white;
    background-color: #008B00;
    font-weight: bolder;
}
.categoryLink , .tagLink, .categoryLink:visited, .taglink:visited
{
    margin: 0 5px 0 0;
    color: white;
    text-decoration: underline;
}
.tagList
{
    float: left;
    list-style: none;
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233
}
#latestPost
{
    clear: both;
    margin-top: 10px;
}
<<<<<<< HEAD
#dateTable, #commentCount
{
    text-align: center;
    width: 100%;
}

.categoryLink:hover,  .postTitle:hover, .tagLink:hover
{
    color: #04acec !important;
}
.categoryList .categoryLink
{
    background-color: transparent !important;
    border: none !important;
}
.tagLink:hover, .categoryLink:hover

{
    background-color: white;
    border: 1px solid #04acec;
}

.categoryList, .latestPostList
{
    list-style-image: url("/Content/images/brackets.png");
}

.tags .sidebar
{
    margin: 15px 0;
}
.sidebar
{
    margin-left: 10px;
}
.latestPostDiv .sidebar
{
    padding-top: 15px;
}

.categoriesDiv, .latestPostsDiv
{
    min-height: 200px;
}

.tags
{
    min-height: 125px;
}

.post
{
    float: left;
    clear: both;
    margin: 25px 0;
    width: 100%;
    padding-bottom: 100px;
}
.post-meta
{
    width: 100%;
    float: left;
    height: 160px;
    clear: both;
    margin-bottom: 20px;
}

.leftPostMeta
{
    background-color: black;
    padding-left: 10px;
    border-top: 3px #04acec solid;
    color: white;
    width: 804px;
    height: 100%;
    float: left;
    padding-top: 10px;
}
.rightPostMeta
{
    background-color: black ;
    color: white;
    border-top: 3px #04acec solid;
    margin-left: 10px;
    width: 124px;
    height: 60%;
    float: left;
    padding-top: 10px;
}
.articleMeta
{
    width: 100%;
    float: left;
    height: 120px;
    clear: both;
    margin-bottom: 20px;
}
.leftArticleMeta
{
    background-color: black;
    padding-left: 10px;
    border-top: 3px #04acec solid;
    color: white;
    width: 784px;
    height: 100%;
    float: left;
    padding-top: 10px;
}
.rightArticleMeta
{
    background-color: black ;
    color: white;
    border-top: 3px #04acec solid;
    margin-left: 10px;
    width: 144px;
    height: 50%;
    float: left;
    padding-top: 10px;
}
.postTimeStamp
{
    float: right;
}
.titleTagList
{
    list-style: none;
}
.titleTagList li
{
    display: inline;
}
.post-body, .post-foot
{
    margin-left:10px;
    margin-right: 10px;
    float: left;
    width: 95%;
    clear: both;
    margin-bottom: 25px;
}
#postListTitle th
{
    padding: 0;
    text-align: left;
    font-size: 32pt;
}
#portfolioCategoriesRight
{
    width: 192px;
    float: left;
    min-height: 500px;
    border-left: solid 1px #04acec;
}
#portfolioProjectsLeft
{
    width: 758px;
    float: left;
    min-height: 500px;
}
.projectCategoryList
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.projectCategoryLink
{
    color: white;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    width: 181px;
    height: 40px;
    border-bottom: 1px solid #04acec;
    margin-left: 10px;
}
.projectCategoryLink a, .projectCategoryLink a:visited
{
    margin-top: 15px;
    color: white;
    margin-left: 10px;
}
.projectCategoryLink:hover
{
    color: #04acec !important;
    background-color: white !important;
}
h4
{
    color: #CDCDCD;
    text-align: center;
}
#projectList
{
    list-style: none;
}
.projectListItem 
{
    width: 216px;
    float: left;
    margin: 30px 12px;
}
#projectListElements
{
    list-style: none;
}
#projectList, #projectListElements, .projectThumbnail, .projectName
{
    padding: 0;
    margin: 0;
}
.projectThumbnail a img
{
    border: 8px solid #04acec;
}
.selectedProjectCategory
{
    background-color: black;
    color: #04acec !important;
}
.projectName
{
    text-align: center
}
#contactFormTable
{
    width: 100%;
}
#contactFormTable tr td
{
    height: 40px;
    margin: 0 5px;
    float: left;
}
#contactFormTable tr td.alignRight
{
    text-align: right;
    width: 268px;
    
}
#contactFormTable tr td.alignLeft
{
    text-align: left;
    width: 652px;
}
input.contactForm, textarea
{
    width: 330px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 5px;
    resize: none;
}
#submitContactButton
{
    padding: 10px 129px;
    margin-left: 290px;
    font-size: 20pt;
    background-color: black;
    color: #04acec; 
    font-weight: bolder;
    border-top: 1px #04acec solid;
}
#submitContactButton:hover
{
    background-color: white;
=======
.categoryLink:hover , .tagLink:hover
{
    color: #04acec;
}
.tags .sidebar
{
    margin-bottom: 15px;
>>>>>>> 59de76e6a20a87d878d82b2dd67d0cfdbd639233
}