/*CSS Styling for the navigation menu */
#menu
{
    -moz-border-radius: 50px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    border-radius: 10px;
    box-shadow: 0 2px 1px #9c9c9c;
    list-style: none;
    margin: 0;
    margin-top: 150px;
    padding: 10px 0 0 0;
    width: 80%;
}

#menu li
{
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a 
{
    color: #999;
    float: left;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 12pt;
    height: 25px;
    padding: 0 25px;
    text-decoration: none;
    -webkit-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
    color: #fafafa;
}

* html #menu li a:hover
{
    /* IE6 */
    color: #fafafa;
}

#menu li:hover > ul
{
    display: block;
}

/* Sub-menu */

#menu ul
{
    -moz-border-radius: 5px;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    border-radius: 5px;
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    z-index: 99999;
}

#menu ul li
{
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    display: block;
    float: none;
    height: auto;
    line-height: 1;
    padding: 10px;
    text-transform: none;
    white-space: nowrap;
}

* html #menu ul a
{
    /* IE6 */
    height: 10px;
    width: 150px;
}

*:first-child + html #menu ul a
{
    /* IE7 */
    height: 10px;
    width: 150px;
}

#menu ul a:hover
{
    background: #0186ba;
    background: -moz-linear-gradient(#04acec, #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec, #0186ba);
    background: -o-linear-gradient(#04acec, #0186ba);
    background: -ms-linear-gradient(#04acec, #0186ba);
    background: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
    border-bottom: 8px solid #444;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    left: 30px;
    position: absolute;
    top: -8px;
    width: 0;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */

#menu:after
{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

* html #menu
{
    zoom: 1;
}
/* IE6 */
html,body 
{
height: 100%;
}
*:first-child + html #menu
{
    zoom: 1;
}
/* IE7 */

header, footer, nav, section
{
    display: block;
}

#header
{
    border-bottom: #04acec solid 1px;
    height: 325px;
    width: 100%;
    clear: both;
}
#banner
{
    margin-top: 133px;
}
div.feeddiv {
  float: right;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
div.feeddiv a, div.feeddiv a:visited{
    color: white;
    text-decoration: none;
}
div.feeddiv a:hover{
    color: #04acec;
    text-decoration: none;
}

#search-form p
{
    display: inline;
}

#sidebars
{
    float: right;
    text-align: left;
}

#body
{
    color: #FFFFFF;
    width: 100%;
    min-height: 600px;
    margin-bottom: -150px; 
}

#wrapper
{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
    width: 1280px;

}

#wrapperContent
{
    float: left;
    width: 960px;
    min-width: 768px;
}

#content
{
    padding-top: 20px;
    width: 100%;
}
#footer
{
    border-top: #04acec solid 1px;
    height: 400px;
    padding-top: 40px;
    margin-top: 160px;
}
#wrap 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
      /* Set the fixed height of the footer here */
#push
{
    height: 60px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) 
{
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
li.noStyle
{
    list-style: none;
}

.centerBlueHeading
{
    color: #04acec;
    text-align: center;
}

a
{
    text-decoration: none !important;
}

a img
{
    border: none;
}

/* Styles for basic forms -----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    background-color: #ffeeee;
    border: 2px solid #ff0000 !important;
}

.validation-summary-errors
{
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid
{
    display: none;
}

h1, h2, h3
{
    font-family: 'Goudy Bookletter 1911', serif;
    color: #9c9c9c;
    font-size: 20pt;
}

h2
{
    /*font-family:"Century Gothic", Times, serif;*/
   /*font-family:"Century Gothic", Times, serif;*/
    font-size: 48px;
    border-bottom: double #CDCDCD 3px;
    margin-bottom: 0;
}

a h3, a h4
{
    color: black;
}

a h3:hover, a h4:hover
{
    color: #04acec;
}


div.pager
{
    margin: 10px 0;
}

div.pager a
{
    color: white;
    margin: 10px 3px ;
    border: 1px solid #04acec;
    padding: 5px;
    background-color: #111 ;
    border-radius: 5px;
}

div.pager a:visited
{
    color: white;
    background-color: #111 ;
}

div.pager a.selected_paginator
{
    color: white ;
    background-color: #04acec;
}

div.pager a:hover, .readMore:hover
{
    color: #04acec!important;
    background-color: white !important;
    font-weight: bolder;
    border: #04acec 1px solid;
    text-decoration: none;
}
.readMore
{
    background-color: #111;
    color: #04acec; 
    font-weight: bolder;
    padding: 5px;
    border-top: 1px #04acec solid;
    border-radius: 5px;
}
.readMore:hover
{
    background-color:  white;
    border-top: 1px #04acec solid;
    color: #04acec  !important;
    font-weight: bolder;
    text-decoration: none;
}

.categoryLink, .tagLink, .categoryLink:visited, .taglink:visited, .postTitle, .postTitle:visited, .readMore, .readMore:visited
{
    margin: 0 5px 0 0;
    color: white;
    
}
.tagLink, .tagLink:visited, .categoryLink, .categoryLink:visited
{
    padding: 2px;
    border: 1px solid #04acec;
    border-radius: 5px;
}

 #postListTitle tr td .categoryLink, #postListTitle tr td .tagLink
{
    color: white
}

.latestPostList .postTitle, .latestPostList .postTitle:visited
{
    margin: 0 5px 0 0;
    color: white;
}

.tagList
{
    list-style: none;
    margin: -10px;
    padding: 0;
    
}
.tagListItem a {
    background-color: #111;
    border: 1px solid #04acec;
    margin: 5px;
    padding: 5px;
    text-align: center;
    float: left;
    border-radius: 5px;
    text-decoration: none;
}
div.pager a:hover {
    background-color: white !important;
    color: #04acec !important;
}
.categoryLink , .tagLink, .categoryLink:visited, .taglink:visited
{
    margin: 0 5px 0 0;
    color: white;
    text-decoration: none;
}
#latestPost
{
    clear: both;
    margin-top: 10px;
}

#dateTable, #commentCount
{
    text-align: center;
    width: 100%;
}

.categoryLink:hover,  .postTitle:hover, .tagLink:hover
{
    color: #04acec !important;
    text-decoration: none;
}
.categoryList .categoryLink
{
    background-color: transparent !important;
    border: none !important;
}
.tagLink:hover, .categoryLink:hover

{
    background-color: white;
    border: 1px solid #04acec;
    text-decoration: none;
}

.categoryList, .latestPostList
{
    list-style-image: url("/Content/images/brackets.png");
}

.tags .sidebar
{
    margin: 15px 0;
}
.sidebar
{
    margin-left: 10px;
}
.latestPostDiv .sidebar
{
    padding-top: 15px;
}

.categoriesDiv, .latestPostsDiv
{
    min-height: 150px;
}

.tags
{
    min-height: 125px;
}

.leftPostMeta
{
    background-color: #111;
    padding-left: 10px;
    border-top: 3px #04acec solid;
    color: white;
    min-height: 100%;
    padding-top: 10px;
    border-radius: 10px;
}
.rightPostMeta
{
    background-color: #111 ;
    color: white;
    border-top: 3px #04acec solid;
    min-height: 60%;
    padding-top: 10px;
    border-radius: 10px;
}
.post-separator
{
    border-top: 1px solid #04acec;
    margin: 50px 0;
}
.leftArticleMeta
{
    background-color: #111;
    border-top: 3px #04acec solid;
    color: white;
    min-height: 160px;
    padding-top: 10px;
    border-radius: 10px;
}
.rightArticleMeta
{
    background-color: #111 ;
    color: white;
    border-top: 3px #04acec solid;
    min-height: 160px;
    padding-top: 10px;
    border-radius: 10px;
}
.postTimeStamp
{
    float: right;
}
.titleTagList
{
    list-style: none;
}
.titleTagList li
{
    display: inline;
}
#postListTitle tr th
{
    padding: 0;
    text-align: left;
    font-size: 32pt;
}
#postListTitle tr td, #postListTitle tr th
{
    float: left;
    margin: 5px;
}
#portfolioCategoriesRight
{
    width: 192px;
    float: left;
    min-height: 500px;
    border-left: solid 1px #04acec;
}
#portfolioProjectsLeft
{
    width: 758px;
    float: left;
    min-height: 500px;
}
.projectCategoryList
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.projectCategoryLink
{
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    width: 181px;
    height: 40px;
    margin-left: 10px;
    border-bottom: 1px solid #04acec;
    text-decoration: none;
}
.projectCategoryLink:hover
{
    background-color: white !important;
    color: #04acec !important;
    text-decoration: none;
}
.projectCategoryLink , .projectCategoryLink :visited
{
    color: white;
}
h4
{
    color: #CDCDCD;
    text-align: center;
}
#projectList
{
    list-style: none;
}
.projectListItem 
{
    width: 216px;
    float: left;
    margin: 30px 12px;
}
#projectListElements
{
    list-style: none;
}
#projectList, #projectListElements, .projectThumbnail, .projectName
{
    padding: 0;
    margin: 0;
}
.projectThumbnail a img
{
    border: 8px solid #04acec;
}
.projectName
{
    text-align: center
}
#submitContactButton
{
    padding: 10px 129px;
    margin-left: 290px;
    font-size: 20pt;
    background-color: black;
    color: #04acec; 
    font-weight: bolder;
    border-top: 1px #04acec solid;
}
#submitContactButton:hover {
    background-color: white;
}
.categoryLink:hover , .tagLink:hover 
{
    color: #04acec !important;
}
