@{
    ViewBag.Title = "The Power Coder | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Welcome
</h2>

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid span12">
            <div class="da-slider" id="da-slider">
                <div class="da-slide">
                    <h2>I Build Software</h2>
                    <p>
                        I keep a focus on robust software, focusing on extensibility and quality.
                        I strive to use the best tools for the job, staying fluent in 
                        upcoming technologies. 
                    </p>
                    <a href="/Portfolio/All/Page_1" class="da-link">My Projects</a>
                    <div class="da-img">
                        <img src="@Url.Content("~/Content/images/Build_Software_White.png")"  alt="Build Software" />
                    </div>
                </div>
                <div class="da-slide">
                    <h2>I Test Software</h2>
                    <p>
                        I test software for quality using industry standards in the Software Testing 
                        Life Cycle. I perform unit tests, automated tests and manual tests. 
                    </p>
                    <a href="#" class="da-link">Read more</a>
                    <div class="da-img">
                        <img src="@Url.Content("~/Content/images/Test_Software_White.png")" alt="Test Software" />
                    </div>
                </div>
                <div class="da-slide">
                    <h2>I Use Best Practices</h2>
                    <p>
                        I strive to use best practices we
                    </p>
                    <a href="#" class="da-link">About Me</a>
                    <div class="da-img">
                        <img src="@Url.Content("~/Content/images/Best_Practices_White.png")" alt="Best Practices" />
                    </div>
                </div>
                <div class="da-slide">
                    <h2>I Collaborate</h2>
                    <p>
                        I test software for quality using industry standards in the Software Testing 
                        Life Cycle. I run unit tests, automate tests and full manual testing. 
                    </p>
                    <a href="#" class="da-link">Contact Me</a>
                    <div class="da-img">
                        <img src="@Url.Content("~/Content/images/Collaborate_White.png")" alt="Collaborate" />
                    </div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
    </div>
</div>