@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<div id="content">
    fdadfjkjksdfljsdgkl;sgjklsg;jsdklsdga
    sdfjkjsdgkl;jkl;jkl;jkl;sdfjkl;jsdfkla
    sdhjklsdgjkl;jsdgkl;sdfjkl;sdfjsdfkl;sdfj
    s<br /> <br/>
    fhjhfasklhdfjkl;shdfjklsdfjkl;sdf
    [sdfhjklsdfhjjsdfkl'sdfjkl;sdfjsdfkl;sdf
    [sdfhjsdfjkl;jkl;jkl;jklawdg;jkl;
</div>