@using TPCv3.Helpers
@model IList<TPCv3.Domain.Entities.Post>


<div class="sidebar">
  <h3 id="latestPost">Latest Posts</h3>
 
  @if (Model.Count > 0){
      <ul>

          @if (Model.Count < 5){

              foreach (var post in Model){
                  <li class="latestPostList">@Html.PostLink(post)</li>
              }
          }
          else{
              for (int i = 0; i < 5; i++){
              <li>@Html.PostLink(Model.ElementAt(i))</li>
              }
          }
      </ul>
  }
  else
  {
    <p>No posts found!</p>
  }
</div>