@model TPCv3.Domain.Entities.Project 
<ul id="projectListElements">
    <li class="projectThumbnail">
        <a>
            <img src="@Model.ThumbUrl" alt="@Model.Name"/>
        </a>
    </li>
    <li class="projectName">@Model.Name</li>
</ul>
