@using System.Collections
<div id="searchDiv">
    @using (Html.BeginForm(

    "Search",   //Action
    "Blog",     //Controller//Method
    FormMethod.Post, new Dictionary<string, object>
                                                         {
                                                             {"id" , "search-form"},
                                                             {"class","navsearch pull-left"}
                                                         }) ) 
    {
        @Html.TextBox("txtSearch", null, new Dictionary<string, object>{{"class", "search-query span9"}, {"placeholder", "Search Blog:"}})
        <input class="btn-mini btn-primary" type="submit" value="Submit"/>
        @Html.Hidden("searchPage", 1) 

    }
</div>