@using TPCv3.Helpers
@model IList<TPCv3.Domain.Entities.Tag>
           
<div class="tags sidebar">
    <h3>Specific Subjects</h3>
    <ul class="tagList">
    @if (Model.Count > 0)
    {
        foreach (var tag in Model)
        {
            <li class="tagListItem">@Html.TagLink(tag)</li>
        }
    }
    else
    {
        <li>No tags found!</li>
    }
    </ul>
</div>